<!-- Pruebas// Cambiar el nombre del archivo a uno mas coherente-->
{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
    <head><meta http-equiv="refresh" content="60"></head>
    <h4> Polls | Listado de trabajadores </h4>
    <br>
    <table>
        <thead>
            <tr>
                <th>Usuarios</th>
            </tr>
        </thead>
        <tbody>
            {% for x in usuarios %}
            <tr>
                <td>{{ x.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h4> Polls | Check in / Check out</h4>
    <p> Bienvenido/a {{ request.user.username }} </p>
    <p> Horas trabajadas en el día de hoy: {{ horas }} horas {{ minutos }} minutos {{ segundos }} segundos </p>

    <!-- alineado y con margen los botones(pendiente poner mas bonito) -->
    <style>
        .botonestrabajo form {
            display: inline-block;
            margin-right: 10px;
        }
    </style>

    <div class="botonestrabajo">
        <form method="post" action="{% url 'polls:checkin' %}">
            {% csrf_token %}
            <button type="submit">Check-in</button>
        </form>
        <form method="post" action="{% url 'polls:checkout' %}">
            {% csrf_token %}
            <button type="submit">Check-out</button>
        </form>
    </div>



{% endblock %}
    
 

    